app.conf
tmp
vendor/
output/
.statsd/
.swp
.swo
.swn
linker
czp-api-server
nohup.out
/log
.statsd/
.idea/
go_build_main_go
.DS_Store
czp_api_server
app/service/test/log


# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
coverage.out

manual_test.go
*.out
*.err
